
{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}
        <link rel="icon" href="images/favicom.ico" type="image/x-icon">

{% block body %}
    <div class="container">
        <h1>Editar Producto</h1>

        <!-- Formulario para editar producto -->
        {{ form_start(form) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.precio) }}
            {{ form_row(form.cantidad) }}
            <button type="submit" class="btn btn-success">Actualizar Producto</button>
        {{ form_end(form) }}

        <hr>
        <a href="{{ path('admin_tienda') }}" class="btn btn-secondary">Volver a la lista de productos</a>
    </div>
{% endblock %}
